*{
    padding:0px;
    margin:0px;
}

.misosoup,
.stock,
.asparagus{
    height: auto;
    width:500px;
}

.title {
    border: 2px solid blue;
    background-color: black;
    color:white;
}

ul, p, ol {
    padding: 30px;
    margin:10px;
    border: 2px solid blue;
}

h2 {
    text-decoration: underline;
}